<section class="view-content">
    {{#if responseMessage}}
        <div class="success">{{responseMessage}}</div>
    {{/if}}
    <table>
        <tr>
            <th>Numéro</th>
            <th>Client</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {{#each model as |bill|}}

        <tr>
            <td>{{bill.number}}</td>
            <td>{{bill.client.name}}</td>
            <td>{{moment-format bill.createdat 'DD/MM/YYYY'}}</td>
            <td>{{#link-to 'bills.details' bill.id tagName="button"}}Détails{{/link-to}}<button>Editer</button></td>
        </tr>
        {{/each}}
    </table>
</section>
