<tr>
    <th>Nom</th>
    <th>Type</th>
    <th>Inscrit le</th>
    <th>Actions</th>
</tr>
{{#each sortedReviews as |client|}}
<tr>
    <td>{{client.name}}</td>
    <td>
        {{#if client.iscompany}}
            Société
        {{else}}
            Particulier
        {{/if}}
    </td>
    <td>{{moment-format client.createdat 'DD/MM/YYYY'}}</td>
    <td>
        {{#link-to 'clients.details' client.id tagName="button"}}Détails{{/link-to}}
        <button {{action 'addClient' client.id}}>Ajouter</button>
    </td>
</tr>
{{/each}}