<section class="view">
    <h1>Factures</h1>

    <nav class="view-nav">
        <ul>
            <li>{{#link-to 'bills.index'}}Liste{{/link-to}}</li>
            <li>{{#link-to 'bills.new'}}Créer une facture{{/link-to}}</li>
        </ul>
    </nav>

    {{outlet}}
</section>