
<section class="view">
    <h1>Clients</h1>

    <nav class="view-nav">
        <ul>
            <li>{{#link-to 'clients.index'}}Liste{{/link-to}}</li>
            <li>{{#link-to 'clients.all'}}Ajouter un client déjà inscrit{{/link-to}}</li>
            <li>{{#link-to 'clients.new'}}Créer Nouveau{{/link-to}}</li>
        </ul>
    </nav>

    {{outlet}}
</section>